$button-primary : #1d6154;
$button-secondary : #0e2f28;
$button-tertiary : #CBD6dc;
$button-text-color-primary : #ffffff;
$button-text-color-secondary : #306685;
$background-primary: #fffef8;
$background-secondary : #e8f1f6;
$text-primary: #3d3d3d;
$text-secondary : #444444;
$border-primary: #b3b3b3;
$close-button: #d65353;
$icon-secondary: #b9c5cc;