/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

//import base
@import "./base/reset";
//import utils
@import "./utils/variables";
//import components
@import "./components/contact_form", "./components/buttons";
//import layouts
@import "./layout/contact", "./layout/footer",
	"./layout/header", "./layout/introduction", "./layout/portfolio", "./layout/loginBloc", "./layout/admin";
//import page
@import "./pages/frontpage", "./pages/loginpage";
